<!-- Hero Section Begin -->
<section class="hero spad set-bg" data-setbg="(assets/img/cars/bike7.png)"
    style="background-image:url(assets/img/cars/2.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="hero__text">
                    <div class="hero__text__title">
                        <span>FIND YOUR DREAM BIKE</span>
                        <h2>Joy-E-Bike</h2>
                    </div>
                    <div class="hero__text__price">
                        <div class="car-model">Model 2019</div>
                        <h2>$399<span>/Month</span></h2>
                    </div>
                    <a href="#" class="primary-btn"><img src="img/wheel.png" alt=""> Test Drive</a>
                    <a href="#" class="primary-btn more-btn">Learn More</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="hero__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Bike1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Bike2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Bike3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Bike4</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="hero__tab__form">
                                <h3>Joy E-Bike Monster</h3>
                                <img src="assets\img\cars\bike-1.png" alt="" srcset="">
                                <!-- <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">Select Year</option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Brand</p>
                                            <select>
                                                <option data-display=" ">Select Brand</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Model</p>
                                            <select>
                                                <option data-display=" ">Select Model</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Mileage</p>
                                            <select>
                                                <option data-display=" ">Select Mileage</option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Searching</button>
                                </form> -->
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="hero__tab__form">
                                <h3>Joy E-Bike Glob</h3>
                                <img src="assets\img\cars\bike-2.png" alt="" srcset="">
                                <!-- <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">Select Year</option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Brand</p>
                                            <select>
                                                <option data-display=" ">Select Brand</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <<option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Model</p>
                                            <select>
                                                <option data-display=" ">Select Model</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Mileage</p>
                                            <select>
                                                <option data-display=" ">Select Mileage</option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Searching</button>
                                </form> -->
                            </div>
                        </div>

                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="hero__tab__form">
                                <h3> Nanu E-Scooter</h3>
                                <img src="assets\img\cars\bike-3.png" alt="" srcset="">
                                <!-- <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">Select Year</option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Brand</p>
                                            <select>
                                                <option data-display=" ">Select Brand</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <<option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Model</p>
                                            <select>
                                                <option data-display=" ">Select Model</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Mileage</p>
                                            <select>
                                                <option data-display=" ">Select Mileage</option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Searching</button>
                                </form> -->
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="hero__tab__form">
                                <h3>Joy E-Bike Wolf</h3>
                                <img src="assets\img\cars\bike6.png" alt="" srcset="">
                                <!-- <form>
                                    <div class="select-list">
                                        <div class="select-list-item">
                                            <p>Select Year</p>
                                            <select>
                                                <option data-display=" ">Select Year</option>
                                                <option value="">2020</option>
                                                <option value="">2019</option>
                                                <option value="">2018</option>
                                                <option value="">2017</option>
                                                <option value="">2016</option>
                                                <option value="">2015</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Brand</p>
                                            <select>
                                                <option data-display=" ">Select Brand</option>
                                                <option value="">Acura</option>
                                                <option value="">Audi</option>
                                                <option value="">Bentley</option>
                                                <<option value="">BMW</option>
                                                <option value="">Bugatti</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Model</p>
                                            <select>
                                                <option data-display=" ">Select Model</option>
                                                <option value="">Q3</option>
                                                <option value="">A4 </option>
                                                <option value="">AVENTADOR</option>
                                            </select>
                                        </div>
                                        <div class="select-list-item">
                                            <p>Select Mileage</p>
                                            <select>
                                                <option data-display=" ">Select Mileage</option>
                                                <option value="">27</option>
                                                <option value="">25</option>
                                                <option value="">15</option>
                                                <option value="">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="car-price">
                                        <p>Price Range:</p>
                                        <div class="price-range-wrap">
                                            <div class="price-range"></div>
                                            <div class="range-slider">
                                                <div class="price-input">
                                                    <input type="text" id="amount">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="site-btn">Searching</button>
                                </form> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<!-- Hero Section End -->
<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Services</span>
                    <h2>What We Offers</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="services__item">
                    <img src="assets\img\services\services-1.png" alt="">
                    <h5>Rental A Cars</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="services__item">
                    <img src="assets\img\services\services-2.png" alt="">
                    <h5>Buying A Cars</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="services__item">
                    <img src="assets\img\services\services-3.png" alt="">
                    <h5>Car Maintenance</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="services__item">
                    <img src="assets\img\services\services-4.png" alt="">
                    <h5>Support 24/7</h5>
                    <p>Consectetur adipiscing elit incididunt ut labore et dolore magna aliqua. Risus commodo
                        viverra maecenas.</p>
                    <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- slider -->
<!-- Multislider Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">



                    <span>Our Products</span>
                    <h2>Most Popular Models</h2>
                    <p>Most sold bikes in 2021.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">

                <div class="card-container">
                    <input class="rdo" type="radio" name="colors-btn" id="color-1" checked>
                    <input class="rdo" type="radio" name="colors-btn" id="color-2">
                    <input class="rdo" type="radio" name="colors-btn" id="color-3">
                    <input class="rdo" type="radio" name="colors-btn" id="color-4">
                    <div class="shoe-area">

                        <div class="logo-div">
                            <img src="https://github.com/gerrardNwoke/Prdouct-Card/blob/main/Shoe-product-card/imgs/nike-logo.png?raw=true"
                                alt="">
                        </div>
                        <div class="floating-div">
                            <div class="shoe-1"><img src="assets\img\cars\bike-1.png" alt="red-nike"></div>
                            <div class="shoe-2"><img src="assets\img\cars\bike13.png" alt="orange-nike"></div>
                            <div class="shoe-3"><img src="assets\img\cars\bike12.png" alt="white-nike"></div>
                            <div class="shoe-4"><img src="assets\img\cars\bike-1.png" alt="black-nike"></div>
                        </div>

                    </div>
                    <div class="text-area">
                        <div class="heading-area">
                            <!-- <h2>Jordan Proto-Lyte</h2>
                            <h4>Running Collection</h4> -->
                            <div class="price-and-buy-btn txt2">
                                <h2 class="price-1" style="font-size: 22px; ">Joy E-Bike Wolf</h2>
                                <h2 class="price-2" style="font-size: 22px; ">Joy E-Bike Glob</h2>
                                <h2 class="price-3" style="font-size: 22px; ">Gen Next Nanu E-Scooter</h2>
                                <h2 class="price-4" style="font-size: 22px; ">Joy E-Bike Monster</h2>
                            </div>
                            <div class="price-and-buy-btn txt2">
                                <h4 class="price-1 txt">Solution to Polution-1 </h4>
                                <h4 class="price-2 txt"> Solution to Polution-2</h4>
                                <h4 class="price-3 txt"> Solution to Polution-3</h4>
                                <h4 class="price-4 txt"> Solution to Polution-4</h4>
                            </div>

                        </div>

                        <p class="paragraph-area">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rerum asperiores error
                            omnis pariatur sequi placeat quia fuga ullam. Harum obcaecati suscipit illum similique
                            excepturi voluptates quae deserunt tempore, distinctio architecto ipsum dolor laboriosam
                            inventore impedit nostrum totam eaque sed est? Non rem repudiandae, vitae iure suscipit
                            pariatur, cum esse sequi cumque saepe commodi reprehenderit quaerat. Quasi ipsam repellendus
                            similique
                        </p>

                        <div class="color-selection">
                            <div class="h5-text">
                                <h5>Available Models: </h5>
                            </div>

                            <div class="color-pick-div">
                                <label for="color-1" class="colors color-1"></label>
                                <label for="color-2" class="colors color-2"></label>
                                <label for="color-3" class="colors color-3"></label>
                                <label for="color-4" class="colors color-4"></label>
                            </div>
                        </div>
                        <div class="price-and-buy-btn">
                            <h2 class="price-1">$ 854.75</h2>
                            <h2 class="price-2">$ 824.15</h2>
                            <h2 class="price-3">$ 914.38</h2>
                            <h2 class="price-4">$ 884.12</h2>
                            <button class="buy-btn">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Multislider Section End -->
<!-- Services Section End -->

<!-- Feature Section Begin -->
<section class="feature spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="feature__text">
                    <div class="section-title">
                        <span>Our Feature</span>
                        <h2>We Are a Trusted Name In Auto</h2>
                    </div>
                    <div class="feature__text__desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                            viverra maecenas accumsan lacus vel facilisis.</p>
                    </div>
                    <div class="feature__text__btn">
                        <a href="#" class="primary-btn">About Us</a>
                        <a href="#" class="primary-btn partner-btn">Our Partners</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-4">
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-1.png" alt="">
                            </div>
                            <h6>Engine</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-2.png" alt="">
                            </div>
                            <h6>Turbo</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-3.png" alt="">
                            </div>
                            <h6>Colling</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-4.png" alt="">
                            </div>
                            <h6>Suspension</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-5.png" alt="">
                            </div>
                            <h6>Electrical</h6>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-6">
                        <div class="feature__item">
                            <div class="feature__item__icon">
                                <img src="assets/img/feature/feature-6.png" alt="">
                            </div>
                            <h6>Brakes</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- Car Section Begin -->
<section class="car spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Car</span>
                    <h2>Best Vehicle Offers</h2>
                </div>
                <ul class="filter__controls">
                    <li class="active" data-filter="*" class="nav-link active" data-toggle="tab" href="#tabs-1"
                        role="tab">Most Researched</li>
                    <li data-filter=".sale" id="tab7" class="tab-pane">Latest on sale</li>
                </ul>
            </div>
        </div>
        <div class="row car-filter ">
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="car__item ">
                    <div class="car__item__pic__slider owl-carousel  ">
                        <img src="assets/img/cars/bike11.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-3.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2016</div>
                            <h5><a href="#">Joy E-Bike Wolf</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option">For Rent</span>
                            <h6>$218<span>/Month</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike12.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-4.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2020</div>
                            <h5><a href="#">Joy E-Bike Glob</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option sale">For Sale</span>
                            <h6>$73,900</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike13.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-5.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2017</div>
                            <h5><a href="#">Gen Next Nanu E-Scooter</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option">For Rent</span>
                            <h6>$299<span>/Month</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike11.png" alt="">
                        <!-- <img src="img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-2.jpg" alt="">
                        <img src="assets/img/cars/car-1.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2019</div>
                            <h5><a href="#">Joy E-Bike Monster</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option sale">For Sale</span>
                            <h6>$120,000</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike11.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-3.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2016</div>
                            <h5><a href="#">Joy E-Bike Wolf</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option">For Rent</span>
                            <h6>$218<span>/Month</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike12.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-4.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2020</div>
                            <h5><a href="#">Joy E-Bike Glob</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option sale">For Sale</span>
                            <h6>$73,900</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike13.png" alt="">
                        <!-- <img src="assets/img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-6.jpg" alt="">
                        <img src="assets/img/cars/car-5.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2017</div>
                            <h5><a href="#">Gen Next Nanu E-Scooter</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option">For Rent</span>
                            <h6>$299<span>/Month</span></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix sale">
                <div class="car__item">
                    <div class="car__item__pic__slider owl-carousel">
                        <img src="assets/img/cars/bike11.png" alt="">
                        <!-- <img src="img/cars/car-8.jpg" alt="">
                        <img src="assets/img/cars/car-2.jpg" alt="">
                        <img src="assets/img/cars/car-1.jpg" alt=""> -->
                    </div>
                    <div class="car__item__text">
                        <div class="car__item__text__inner">
                            <div class="label-date">2019</div>
                            <h5><a href="#">Joy E-Bike Monster</a></h5><br>
                            <!-- <ul>
                                <li><span>35,000</span> mi</li>
                                <li>Auto</li>
                                <li><span>700</span> hp</li>
                            </ul> -->
                        </div>
                        <div class="car__item__price">
                            <span class="car-option sale">For Sale</span>
                            <h6>$120,000</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Car Section End -->

<!-- Chooseus Section Begin -->
<section class="chooseus spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="chooseus__text">
                    <div class="section-title">
                        <h2>Why People Choose Us</h2>
                        <p>Duis aute irure dolorin reprehenderits volupta velit dolore fugiat nulla pariatur
                            excepteur sint occaecat cupidatat.</p>
                    </div>
                    <ul>
                        <li><i class="fa fa-check-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.</li>
                        <li><i class="fa fa-check-circle"></i> Integer et nisl et massa tempor ornare vel id orci.
                        </li>
                        <li><i class="fa fa-check-circle"></i> Nunc consectetur ligula vitae nisl placerat tempus.
                        </li>
                        <li><i class="fa fa-check-circle"></i> Curabitur quis ante vitae lacus varius pretium.</li>
                    </ul>
                    <a href="#" class="primary-btn">About Us</a>
                </div>
            </div>
        </div>
    </div>

    <div class="chooseus__video set-bg">
        <img src="assets/img/chooseus-video.png" alt="">
        <a href="https://www.youtube.com/watch?v=Xd0Ok-MkqoE" class="play-btn video-popup"><i
                class="fa fa-play"></i></a>
    </div>
</section>
<!-- Chooseus Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Blog</span>
                    <h2>Latest News Updates</h2>
                    <p>Sign up for the latest Automobile Industry information and more. Duis aute<br /> irure
                        dolorin reprehenderits volupta velit dolore fugiat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest__blog__item">
                    <div class="latest__blog__item__pic set-bg" data-setbg="assets/img/latest-blog/lb-1.jpg"
                        style="background-image:url(assets/img/latest-blog/lb-1.jpg);">
                        <ul>
                            <li>By Polly Williams</li>
                            <li>Dec 19, 2018</li>
                            <li>Comment</li>
                        </ul>
                    </div>
                    <div class="latest__blog__item__text">
                        <h5>Benjamin Franklin S Method Of Habit Formation</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.</p>
                        <a href="#">View More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest__blog__item">
                    <div class="latest__blog__item__pic set-bg" data-setbg="assets/img/latest-blog/lb-2.jpg"
                        style="background-image:url(assets/img/latest-blog/lb-2.jpg);">
                        <ul>
                            <li>By Mattie Ramirez</li>
                            <li>Dec 19, 2018</li>
                            <li>Comment</li>
                        </ul>
                    </div>
                    <div class="latest__blog__item__text">
                        <h5>How To Set Intentions That Energize You</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.</p>
                        <a href="#">View More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest__blog__item">
                    <div class="latest__blog__item__pic set-bg" data-setbg="assets/img/latest-blog/lb-3.jpg"
                        style="background-image:url(assets/img/latest-blog/lb-3.jpg);">
                        <ul>
                            <li>By Nicholas Brewer</li>
                            <li>Dec 19, 2018</li>
                            <li>Comment</li>
                        </ul>
                    </div>
                    <div class="latest__blog__item__text">
                        <h5>Burning Desire Golden Key Or Red Herring</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel
                            facilisis.</p>
                        <a href="#">View More <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->

<!-- Cta Begin -->
<div class="cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="cta__item set-bg" data-setbg="assets/img/cta/cta-1.jpg"
                    style="background-image:url(assets/img/cta/cta-1.jpg)">
                    <h4>Do You Want To Buy A Car</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="cta__item set-bg" data-setbg="img/cta/cta-2.jpg"
                    style="background-image:url(assets/img/cta/cta-2.jpg)">
                    <h4>Do You Want To Rent A Car</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- Cta End -->

<!-- Review Section Begin -->





<section class="testimonial text-center">
    <div class="container">

        <div class="heading white-heading">
            Our Happy Customers
        </div>
        <!-- <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000"> -->
         
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonial4_slide">
                        <img src="assets\1.png"  class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 1</h4>
                    </div>
                <!-- </div> -->
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="assets\2.png" class="img-circle img-responsive" /><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 2</h4>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial4_slide">
                        <img src="assets\3.png" class="img-circle img-responsive" />
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                        <h4>Client 3</h4>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                <span class="carousel-control-prev-icon"  style="color: black;"><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
            </a>
            <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                <span class="carousel-control-next-icon" style="color: black;"><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
            </a>
        </div>
    </div>
</section>
